body {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.rainbow {
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
    height: 300px;
    width: 250px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    vertical-align: middle;
}

.rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
}

.rainbow ::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    border-radius: 5px;
}



#demo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px bold;
    color: #D8000C;

}

button {
    background-color: #FFDE59;
    outline: solid black;
    border: none;
    padding: 9px 30px;
    margin-left: 65px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50px;

}

input {
    width: 150px;
    margin-top: 40px;
    margin-left: 40px;
    outline: auto black;
    font-size: 15px;
    border-radius: 30px;

}